
*{
text-decoration: none !important;
font-family: Georgia, 'Times New Roman', Times, serif;
text
}

.darker-img:after {
    content:"";
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:rgba(0,0,0,0.6);
  }
  